<div class="min-h-screen relative overflow-hidden bg-linear-to-br from bg-purple-400 to-blue-300">
    <div class="">
        <div class="flex flex-col p-6 text-center min-h-720 mb-7 ">
            <div class="mt-15">
                <h2 class="font-medium text-6xl">Projects</h2>
            </div>
            <br>
            <hr style="width: 75%; margin: 0 auto;">
            <br>
            <br>

            <div class="flex items-center justify-end mr-55 gap-5">

                <div>

                  <h2 class="text-2xl font-black mb-3">Working at MXreality</h2>

                  <h4 class="max-w-md wrap-break-word font-semibold text-xl">These are the type of projects I worked on whilst i was working at mxreality.</h4>

                </div>

                <div class="flex flex-col items-center">

                    <h3 class="text-5xl font-bold mb-5">MX Reality</h3>

                    <button class="rounded-xl hover:scale-105 transition duration-300 cursor-pointer">
                        <img src="/Images/MXreality/MxrealityLogo.png" class="w-160 rounded-2xl shadow border-2"  routerLink="/mxreality" alt="">
                    </button>

                </div>
                
            </div>

            <br>
            <br>
            <br>

            <div class="flex items-center justify-start ml-55 gap-5">


                <div class="flex flex-col items-center">

                    <h3 class="text-5xl font-bold mb-5">Soul Survivor</h3>

                    <button class="rounded-xl hover:scale-105 transition duration-300 cursor-pointer">

                        <img src="/Images/Soul survivor/Process 1 Jpg/FrontCoverSoulsrvivor.jpg" class="w-160 rounded-2xl shadow border-2" routerLink="/soulsurvivor" alt="">

                    </button>

                </div>

                <div>

                  <h2 class="text-2xl font-black mb-3">Third Person Shooter Game</h2>

                  <h4 class="max-w-md wrap-break-word font-semibold text-xl">This is a third person shooter game I created for a Univeristy project.</h4>

                </div>
                
            </div>
            <br>
            <br>
            <br>

             <div class="flex items-center justify-end mr-55 gap-5">

                <div>

                  <h2 class="text-2xl font-black mb-3">RPG Game(Still Developing)</h2>

                  <h4 class="max-w-md wrap-break-word font-semibold text-xl">This is a RPG Game I started creating becasue those are my favorite type of games to make.</h4>

                </div>

                <div class="flex flex-col items-center">

                    <h3 class="text-5xl font-bold mb-5">Sindria Knights</h3>

                    <button class="rounded-xl hover:scale-105 transition duration-300 cursor-pointer">
                        <img src="Images/Sindria Knights/Process/Screenshot (223) (1).png" class="w-160 rounded-2xl shadow border-2"  routerLink="/sindriaknights" alt="">
                    </button>

                </div>
                
            </div>

            <br>
            <br>
            <br>

            <div class="flex items-center justify-start ml-55 gap-5">


                <div class="flex flex-col items-center">

                    <h3 class="text-5xl font-bold mb-5">Zombie Shooter</h3>

                    <button class="rounded-xl hover:scale-105 transition duration-300 cursor-pointer">

                        <img src="Images/Zombie Shooter/process/frony cov pic (1).png" class="w-150 h-80 rounded-2xl shadow border-2" routerLink="/zombieshooter" alt="">

                    </button>

                </div>

                <div>

                  <h2 class="text-2xl font-black mb-3">Third Person Shooter(Still Developing)</h2>

                  <h4 class="max-w-md wrap-break-word font-semibold text-xl">This is a game I started developing becasue I felt like I had improved with my skills and also I wanted to try doing things in a different way.</h4>

                </div>
                
            </div>

            <br>
            <br>
            <br>

            <div class="flex items-center justify-end mr-55 gap-5">

                <div>

                  <h2 class="text-2xl font-black mb-3">2D Gambling Game</h2>

                  <h4 class="max-w-md wrap-break-word font-semibold text-xl">This is a game I created as part of the interview process for a game design job I applied to.</h4>

                </div>

                <div class="flex flex-col items-center">

                    <h3 class="text-5xl font-bold mb-5">Buster Safe</h3>

                    <button class="rounded-xl hover:scale-105 transition duration-300 cursor-pointer">
                        <img src="Images/BusterSafe/process/bustersafe image.avif" class="w-160 rounded-2xl shadow border-2"  routerLink="/bustersafe" alt="">
                    </button>

                </div>
                
            </div>

        </div>
    </div>
</div>